<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
      id="cordova-plugin-facerecognition"
      version="3.0.0">
    <name>OpenCV Plugin</name>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OpenCVActivityPlugin">
                <param name="android-package" value="com.opencvactivity.OpenCVActivityPlugin"/>
            </feature>
        </config-file>
        <js-module src="www/FaceRecognition.js" name="FaceRecognition">
            <clobbers target="cordova.plugins.facerecognition" />
        </js-module>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/>
            <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
            <uses-feature android:name="android.hardware.camera" android:required="true"/>
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>
            <uses-feature android:name="android.hardware.camera.front" android:required="true"/>
            <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="true"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <activity
             android:name="com.avalant.ai.avafaceid.views.ShootActivity"
             android:configChanges="keyboardHidden|keyboard|screenSize|locale"
             android:theme="@android:style/Theme.NoTitleBar"
             android:label="OpenCV">
          </activity>
        </config-file>
   
        <framework src="libs/aar/build-extras.gradle" custom="true" type="gradleReference" />
        <!-- <source-file src="libs/aar/build-extras.gradle" target-dir="." /> -->
        <resource-file src="libs/aar/avafaceid-release.aar" target="libs/avafaceid-release.aar" />
        <resource-file src="libs/aar/dlib-release.aar" target="libs/dlib-release.aar" />
        <resource-file src="libs/android-async-http-1.4.9.jar" target="libs/android-async-http-1.4.9.jar" />
        <resource-file src="libs/httpclient-4.4.1.1.jar" target="libs/httpclient-4.4.1.1.jar" />
        <resource-file src="libs/aar/opencv-release.aar" target="libs/opencv-release.aar" />
        <resource-file src="libs/aar/pocketsphinx-android-5prealpha-release.aar" target="libs/pocketsphinx-android-5prealpha-release.aar" />
        <!-- <resource-file src="libs/aar/." target="libs/faceRec" /> -->
        <!-- <source-file src="src/android/OpenCVActivity.java" target-dir="src/co/mwater/opencvactivity" /> -->
        <source-file src="src/android/OpenCVActivityPlugin.java" target-dir="src/com/opencvactivity" />
        <!-- <source-file src="libs/armeabi/libopencvactivity.so" target-dir="libs/armeabi" />
        <source-file src="libs/armeabi-v7a/libopencvactivity.so" target-dir="libs/armeabi-v7a" /> -->


     </platform>
</plugin>
